.carousel-container {
  margin-top: 20px; /* Adjust as needed */
  width: 100%;
  overflow: hidden;
}

/* Styles for Carousel */
.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel img {
  width: 300px; /* Adjust as needed */
  height: auto;
  margin-right: 10px; /* Spacing between images */
}

/* Styles for Carousel Navigation (if needed) */
.carousel-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-nav button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}
/*------------------------------------------------*/