/* HAMBURGER MENU */
.menu-btn {
  width: 80px;
  height: 60px;
  position: relative;

  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */

}
  /* BURGERS */
  .menu-btn__burger {
    background: #fff;

    width: 40px;
    height: 2px;

    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    background: #fff;

    width: 40px;
    height: 2px;

    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
    /* ANIMATION */
    .menu-btn.open .menu-btn__burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }
    .menu-btn.open .menu-btn__burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
    /* ANIMATION */
  /* BURGERS */

    /* MENU LIST ITEMS */
    .nav-list {
      background-color: black;

      top: 100px;
      right: 20px;
      margin-left: 20px;
      padding: 0;

      display: none;
      list-style: none;
      transition: all 0.3s ease-in-out;
    }
    .nav-list.show {
      display: block;
    }

    .nav-list li {
      margin: 10px 0;
    }
    .nav-list li a {
      text-decoration: none;
      color: white;
    }
    /* MENU LIST ITEMS */
/*------------------------------------------------*/