/* DIVS */
div.footer-1 {
  background-color: rgb(49, 49, 49);
  height: 30px;
  width: 100%;
}
  div.footer-2 {
    background-color: black;
    height: 30px;
    width: 100%;
  }
/* DIVS */
/*------------------------------------------------*/